de-course-adf/pipeline/Ingestion.json
{
	"name": "Ingestion",
	"properties": {
		"activities": [
			{
				"name": "landing_1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "landing_01",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_load_date": {
							"value": "@variables('v_load_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "landing_2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "landing_02",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_load_date": {
							"value": "@variables('v_load_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "landing_3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "landing_03",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_load_date": {
							"value": "@variables('v_load_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"variableName": "v_load_date_1",
					"value": {
						"value": "@coalesce(pipeline().parameters.p_load_date_1, formatDateTime(addDays(pipeline().parameters.p_load_date_1, -1), 'yyyyMMdd'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_load_date_1": {
				"type": "string",
				"defaultValue": "20220731"
			},
			"p_load_date_2": {
				"type": "string",
				"defaultValue": "20220831"
			},
			"p_load_date_3": {
				"type": "string",
				"defaultValue": "20220930"
			}
		},
		"variables": {
			"v_load_date_1": {
				"type": "String"
			},
			"v_load_date_2": {
				"type": "String"
			},
			"v_load_date_3": {
				"type": "String"
			}
		},
		"annotations": []
	}
}