adf-project-de/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-project-de"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/stackoverflow_answers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stackoverflow_conn",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "accepted_answer_id",
						"type": "nvarchar"
					},
					{
						"name": "answer_count",
						"type": "nvarchar"
					},
					{
						"name": "comment_count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "community_owned_date",
						"type": "nvarchar"
					},
					{
						"name": "creation_date",
						"type": "nvarchar"
					},
					{
						"name": "favorite_count",
						"type": "nvarchar"
					},
					{
						"name": "last_activity_date",
						"type": "nvarchar"
					},
					{
						"name": "last_edit_date",
						"type": "nvarchar"
					},
					{
						"name": "last_editor_display_name",
						"type": "nvarchar"
					},
					{
						"name": "last_editor_user_id",
						"type": "nvarchar"
					},
					{
						"name": "owner_display_name",
						"type": "nvarchar"
					},
					{
						"name": "owner_user_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "parent_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "post_type_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "score",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "tags",
						"type": "nvarchar"
					},
					{
						"name": "view_count",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "stackoverflow",
					"table": "stackoverflow_post_answers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stackoverflow answers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"additionalColumns": [
									{
										"name": "ingestion_date",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "stackoverflow_answers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "stack_answers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stackoverflow questions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"additionalColumns": [
									{
										"name": "ingestion_date",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "stackovdrflow_questions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "stack_questions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Github_1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "github_1",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220731"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_github_1",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": {
										"value": "@variables('v_load_date')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Rest_1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "rest_1",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": {
										"value": "@variables('v_load_date')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_rest_1",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": {
										"value": "@variables('v_load_date')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Load date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_load_date",
							"value": {
								"value": "@coalesce(pipeline().parameters.p_load_date, formatDateTime(addDays(pipeline().parameters.p_load_date, -1), 'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_load_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_load_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stackoverflow_answers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Github_2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "github_2",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220831"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_github2",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220831"
								}
							}
						]
					},
					{
						"name": "Rest_2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "rest_2",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220831"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_rest2",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220831"
								}
							}
						]
					},
					{
						"name": "Load date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_load_date",
							"value": {
								"value": "@coalesce(pipeline().parameters.p_load_date, formatDateTime(addDays(pipeline().parameters.p_load_date, -1), 'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_load_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_load_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_03')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Github_3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "github_3",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220930"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_github3",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220930"
								}
							}
						]
					},
					{
						"name": "Rest_3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load date",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "rest_3",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220930"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_rest3",
								"type": "DatasetReference",
								"parameters": {
									"p_load_date": "20220930"
								}
							}
						]
					},
					{
						"name": "Load date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_load_date",
							"value": {
								"value": "@coalesce(pipeline().parameters.p_load_date, formatDateTime(addDays(pipeline().parameters.p_load_date, -1), 'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_load_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_load_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "landing_1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "landing_01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_load_date": {
									"value": "@variables('v_load_date')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "landing_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "landing_02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_load_date": {
									"value": "@replace(variables('v_load_date'), '07','08')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "landing_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "landing_03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_load_date": {
									"value": "@replace(variables('v_load_date'), '0731','0930')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_load_date",
							"value": {
								"value": "@coalesce(pipeline().parameters.p_load_date, formatDateTime(addDays(pipeline().parameters.p_load_date, -1), 'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_load_date": {
						"type": "string",
						"defaultValue": "20220731"
					}
				},
				"variables": {
					"v_load_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/landing_01')]",
				"[concat(variables('factoryId'), '/pipelines/landing_02')]",
				"[concat(variables('factoryId'), '/pipelines/landing_03')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingestion_to_landing",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Landing_to_bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingestion_to_landing",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/manhercz.adam@gmail.com/gfa-de-project/etl/landing_to_bronze"
						},
						"linkedServiceName": {
							"referenceName": "databricks_conn",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Ingestion')]"
			]
		}
	]
}